<!--#林洋洋：优化学生信息页面，改进样式和用户体验-->
{% extends "base.html" %}
{% block title %}修改个人信息{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top: 50px;">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">修改个人信息</h3>
                </div>
                <div class="panel-body">
                    {% if message %}
                    <div class="alert alert-success">
                        <strong>提示：</strong>{{ message }}
                    </div>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for item in student_form %}
                        <div class="form-group">
                            {{ item.label_tag }}
                            {{ item }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">确认修改</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}